# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives :**
- List popular languages for Data Science
- List popular libraries used in Data Science
- List popular Data Science open source tools

Some of the popular languages that Data Scientists uses are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists are :
- Numpy
- Pandas 
- Matplotlib

| Data Science Tools |
|---|
|Rstudio|
|VScode|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
'''This a simple arithmetic expression to mutiply then add integers'''
(3*4)+5

17

In [4]:
'''This will convert 200 minutes to hours by diving by 60'''
200/60

3.3333333333333335

## Author
Jo√£o Pedro de Brito